@use './../../styles/variables' as *;

.todoItem{
    width: 100%;
    display: flex;
    column-gap: 15px;
    align-items: center;
    padding-left: 10px;
    border: $border;
    border-radius: $border-radius;

    &:has(.todoItem__checkbox:checked) .todoItem__label{
        color: var($dark-gray);
        text-decoration: line-through;
    }

    &:hover{
        background-color: $light-gray;
    }
}

.todoItem__checkbox{
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    accent-color: $black;
    cursor: pointer;
}

.todoItem__label{
    width: 100%;
    pointer-events: none;
}

.todoItem__deleteBtn{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: inherit;

    span{
        pointer-events: none;
        display: block;
        width: 20px;
        height: 2px;
        background-color: $black;

        &:nth-child(1){
            transform: rotateZ(45deg);
        }

        &:nth-child(2){
            margin-top: -2px;
            transform: rotateZ(-45deg);
        }
    }

    &:hover{
        background-color: $black;

        span{
            background-color: $white;
        }
    }

    &:active{
        scale: 1.05;
    }
}