$black: #000000;
$white: #FFFFFF;

$light-gray: #e1e1e1;
$dark-gray: #979696;
$dark-gray-2: #7a7979;

$border: 1px solid $dark-gray;
$border-radius: 10px;

$transition-duration: 0.2s;

$input-height: 40px;