@use './../../styles/variables' as *;

.todo{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    row-gap: 24px;
    width: 100%;
    max-width: 404px;
    min-height: 429px;
    padding: 20px;
    border: $border;
    border-color: $dark-gray;
    border-radius: $border-radius;
    background-color: $white;
}

.todo__title{
    text-align: center;
}